body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.productos-destacados {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.productos-destacados h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-card {
    display: inline-block;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    max-width: 300px;
    transition: transform 0.2s;
    text-align: center;
    overflow: hidden;
    position: relative;
    
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    border-radius: 15px 15px 0 0;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    display: block;
    
}

.product-card h2 {
    font-size: 1.5em;
    margin: 15px;
}

.product-card p {
    margin: 0 15px 15px;
}

.product-card .price {
    font-weight: bold;
    color: #333;
    margin: 0 15px 15px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-logout {
    background-color: #007bff; /* Color de fondo más visible */
    color: #fff; /* Color del texto */
    border: 1px solid #007bff; /* Color del borde */
    padding: 10px 20px; /* Añade un poco de padding para hacerlo más visible */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    font-size: 16px; /* Tamaño de fuente */
}

.btn-logout:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    border-color: #0056b3; /* Color del borde al pasar el mouse */
    text-decoration: none; /* Evita subrayado si aplica */
}