{% extends 'base.html' %}
{% load static %}

{% block titulo %}Checkout{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h1 class="mb-4">Checkout</h1>
    <div class="card shadow-sm border-0 p-4">
        <form method="post">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>₡{{ item.product.price|floatformat:2 }}</td>
                        <td>₡{{ item.product.price|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-end mt-4">
                <h4>Total: <span class="text-primary">₡{{ total_price|floatformat:2 }}</span></h4>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Completar Compra</button>
        </form>
    </div>
</div>
{% endblock %}
