{% extends 'base.html' %}

{% block titulo %}Contacto{% endblock %}

{% block contenido %}
    <div class="container mt-4">
        <h1>Contacto</h1>
        <p>Puedes ponerte en contacto con nosotros a través de los siguientes medios:</p>
        <ul>
            <li>Dirección: Purruja, Golfito, Costa Rica</li>
            <li>Teléfono: +506 8394 8017</li>
            <li>Email: correo@negocio.com</li>
            <li>Redes sociales:
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </li>
        </ul>
        <form id="contact-form">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Tu nombre" Required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Tu email" Required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <textarea class="form-control" id="message" name="message" rows="3" placeholder="Tu mensaje" Required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <script type="text/javascript">
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const serviceID = 'service_xf3rqw1'; // Replace with your EmailJS service ID
            const templateID = 'template_72bdpqu'; // Replace with your EmailJS template ID

            emailjs.sendForm(serviceID, templateID, this)
                .then(function() {
                    alert('El mensaje ha sido enviado correctamente!');
                }, function(error) {
                    alert('Error al enviar el mensaje: ' + JSON.stringify(error));
                });
        });
    </script>

{% endblock %}