{% extends 'base.html' %}
{% load static %}

{% block titulo %}Productos{% endblock %}

{% block contenido %}
    <div class="container mt-4">
        <h1>Productos</h1>
        <p>Lista de productos disponibles en nuestra panadería.</p>
        <section class="productos">
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p class="price">₡{{ product.price }}</p>
                {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                </form>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
